[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
click = "==6.7"
itsdangerous = "==0.24"
picamera = "==1.13"
Flask = "==0.12.2"
Jinja2 = "==2.9.6"
Werkzeug = "==0.12.2"
python-dotenv = "*"
wifi = "*"

[requires]
python_version = "3.7"
